<div class="custom-container-about d-flex flex-column flex-md-row align-items-center">
  <div class="card flex-grow-1 mr-md-3 mb-3 mb-md-0">
    <div class="card-body d-flex flex-column align-items-start">
      <h1 class="mb-4">Miss Cramée</h1>
      <p class="fs-9 mb-3">Bienvenue dans les M'Ondes de Miss Cramée, je suis ravie de vous accueillir dans mon univers de fantaisie !</p>
      <p class="fs-9 mb-3">Tous mes bijoux sont fait main, et travaillés avec des fils en polyester ciré et des pierres naturelles, ce qui permet une infinité de combinaisons.</p><p class="fs-9">Vous pouvez également me contacter juste ici(lien) si vous avez des questions, des envies particulières, ou même une commande personnalisée, je serai ravie d'échanger avec vous !</p>
      <p class="fs-9">Echanger, c'est d'ailleurs mon petit plaisir puisque si vous habitez dans les Pyrénées Orientales, vous pouvez me retrouver en été sur plusieurs marchés, je serai ravie de faire connaissance en face à face et de discuter avec vous !</p>
      <p class="fs-9">Pour ceux qui le souhaitent, j'ai également une page Facebook et un compte Instagram si vous souhaitez suivre mon actualité !</p><br>
      <p class="fs-9">A très vite j'espère !</p>
    </div>
  </div>
  <div class="image">
    <%= image_tag 'header4.jpg', class:"img-fluid", alt: 'Photo de présentation Miss Cramée' %>
  </div>
</div>
