<div class="custom-container-about d-flex flex-column flex-md-row align-items-center">
  <div class="card flex-grow-1 mr-md-3 mb-3 mb-md-0">
    <div class="card-body d-flex flex-column align-items-start">
      <h1 class="mb-4">Mentions Légales</h1>
      
      <section>
        <h2>Les Mondes De Miss_Cramee</h2>
        <p>“Les Mondes De Miss Cramee” est une société par actions simplifiée (SAS) au capital de ?? euros.</p>
        <p>Son siège social est établi au 13 rue Paul Bert, 75011 Paris.</p>
        <p>Enregistrée à la Chambre des Métiers et de l’Artisanat de Paris.</p>
        <p>803 700 418 RCS PARIS<br>
        Siret 80370041800020<br>
        Code NAF 3212Z<br>
        N° Intracom : FR 08803700418</p>
        <p>Fondatrice : Christelle Bobichon</p>
        <p>Tél : 06 83 24 54 49</p>
      </section>

      <section>
        <h2>Contact</h2>
        <p><strong>Par téléphone :</strong> 09 81 03 66 67</p>
        <p><strong>Par courrier :</strong><br>
        SAS Paulette à Bicyclette, 13 rue Paul Bert, 75011 Paris</p>
        <p><strong>Par email :</strong><br>
        <%= link_to "christellebobichon@orange.fr", "mailto:christellebobichon@orange.fr" %>
        </section>

      <section>
        <h2>Crédits</h2>
        <p>Photos : Stéphane Porchet, Paulette, Sabine Greppo, Trentième Etage, Artinoa…</p>
      </section>

      <section>
        <h2>Hébergeur</h2>
        <p>O2switch</p>
        <p>510 909 807 R.C.S. CLERMONT-FERRAND</p>
        <p>Siège social : 222 Bd Gustave Flaubert, 63000 Clermont-Ferrand</p>
      </section>

    </div>
  </div>
  <div class="image">
    <!-- Optionally include an image here if needed -->
  </div>
</div>
