<% content_for :title, "Mentions légales" %>

<div class="custom-container-about d-flex flex-column flex-md-row align-items-center">
  <div class="card flex-grow-1 mr-md-3 mb-3 mb-md-0">
    <div class="card-body d-flex flex-column align-items-start">
      <h1 class="mb-4">Mentions Légales</h1>
      
      <section>
        <h2>Les M'Ondes De Miss Cramée</h2>
        <p>“Les M'Ondes De Miss Cramée” est une entreprise individuelle.</p>
        <p>Son siège social est établi au 16 rue Valentin Magnan à Perpignan.</p>
        <p>Immatriculée au registre du commerce et de l'artisanat sous le numéro de SIRET : 797 826 757 00024</p>
        <p>Fondatrice : Christelle Bobichon</p>
        <p>Tél : 06 23 88 98 09</p>
      </section>


<h2>CONDITIONS GENERALES DE VENTE E-COMMERCE</h1>

<p>Les présentes conditions de vente sont conclues d'une part par l'entreprise individuelle :Les M'Ondes de Miss Cramée

dont le siège est situé à 16 rue Valentin Magnan, 66000 Perpignan, immatriculée au registre du commerce et de l'artisanat sous le numéro : 797 826 757 00024. Ci après dénommé : Les M'Ondes de Miss Cramée et gérant le site ( nom du site et url)

et , d'autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site internet ( nom du site et url)

dénommé ci après (l'acheteur) </p>

<h2>Article 1 :Objet</h2>

<p>Les présentes conditions de vente visent à définir les relations contractuelles entre Les M'Ondes de Miss Cramée et l'acheteur et les conditions applicables à tout achat effectué par le biais du site internet ( non du site ). 
L'acquisition d'un produit à travers implique une acceptation sans réserve par l'acheteur des présentes conditions de vente dont l'acheteur reconnait avoir pris connaissance préalablement à sa commande.
Avant toute transaction, l'acheteur déclare d'une part que l'achat de produit sur le site ( nom du site ) est sans rapport directe avec son activité professionnelle et est limité à une utilisation strictement personnelle et d'autre part avoir la pleine capacité juridique, lui permettant de s'engager au titre des précédentes conditions générales de vente .
L'entreprise individuelle Les M'Ondes de Miss Cramée conserve la possibilité de modifier à tout moment ses conditions de vente, afin de respecter toute nouvelle réglementation ou dans le but d'améliorer l'utilisation de son site . De ce fait , les conditions applicables seront celles en vigueur à la date de la commande par l'acheteur.</p>



<h2>Article 2 : Produits</h2>

<p>Les produits proposés sont ceux qui figurent sur le site ( nom du site ) de l'entreprise individuelle Les M'Ondes de Miss Cramée , dans la limite des stocks disponibles. L'entreprise individuelle Les M'Ondes de Miss cramée se réserve le droit de modifier à tout moment l'assortiment de produits.
Chaque produit est présenté sur le site internet sous forme d'un descriptif reprenant ses principales caractéristiques techniques .

Les photographies sont les plus fidèles possible mais n'engagent en rien  le vendeur. La vente des produits dans le site (nom, url) est destiné à tous les acheteurs résidant dans les pays qui autorisent pleinement l'entrée sur leur territoire de ces produits .</p>

<h2>Article 3 : Tarifs</h2>

<p>Les prix figurant sur les fiches produits du catalogue internet et sont des prix en euros toutes taxes comprises . Etant une entreprise individuelle, Les M'Ondes de Miss Cramée n'est pas soumise à la TVA. L'entreprise Les M'Ondes de Miss Cramée se réserve le droit de modifier ses prix à tout moment, étant entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable à l' acheteur. Les prix indiqués ne comprennent pas les frais de livraison, facturés en supplément du prix des produits achetés suivant le montant total de la commande. En France métropolitaine, pour toute commande supérieure ou égale à 50 euros les frais de port sont offerts; pour toute commande inférieure à 50 euros, un forfait de participation aux frais d'expédition sera facturés à l'acheteur en fonction de la grille tarifaire.</p>



<h2>Article 4 Commandes et modalités de paiement</h2>

<p>Avant toute commande, l'acheteur doit créer un compte sur le site (nom du site et url)

La rubrique de création de compte est accessible directement depuis la barre de menu latérale. A chaque visite l'acheteur, s'il souhaite commander ou consulter son compte ( état des commandes, profil, ...) , devra s'identifier à l'aide de ses informations . L'entreprise individuelle Les M'Ondes de Miss Cramée propose à l'acheteur de commander et régler ses produits en plusieurs étapes , avec 3 options de paiement au choix :

- paiement par chèque : l'acheteur sélectionne les produits qu'il souhaite commander dans le panier , modifie si besoin ( quantité, référence ..) vérifie l'adresse de livraison ou en renseigne une nouvelle .Puis, les frais de port son calculés et soumis à l'acheteur,  ainsi que le nom du transporteur. Ensuite , l'acheteur choisit le mode de paiement de son choix : "paiement par chèque" . Enfin, la dernière étape lui propose de vérifier l'ensemble des informations , prendre connaissance et accepter les présentes conditions générales de vente en cochant la case correspondante , puis l'invite à valider sa commande en cliquant sur le bouton " confirmer ma commande " . Ce dernier clic forme la conclusion définitive du contrat . Dès validation, l'acheteur reçoit un bon de commande confirmant l'enregistrement de sa commande . Afin de finaliser son paiement, et déclencher le traitement de sa commande, l'acheteur doit imprimer ce bon de commande, accompagné de son chèque libellé à l'ordre de Christelle Bobichon à l'adresse suivante : 16 rue Valentin Magnan 66000 Perpignan. Aucun paiement en espèce ne doit être envoyé . Seuls les chèques émis par une banque française seront acceptés . Dès réception du chèque, la commande sera traitée et l'acheteur en sera informés par email . L'entreprise Les M'Ondes de Miss Cramée expédiera les produits au plus tôt  deux jours ouvrés après encaissement du chèque correspondant à la commande, sous réserve de provisions.

- Paiement par virement bancaire :  l'acheteur sélectionne les produits qu'il souhaite commander dans le panier , modifie si besoin ( quantité, référence ..) vérifie l'adresse de livraison ou en renseigne une nouvelle .Puis, les frais de port son calculés et soumis à l'acheteur, ainsi que le nom du transporteur. Ensuite , l'acheteur choisit le mode de paiement de son choix : "virement bancaire" . Enfin, la dernière étape lui propose de vérifier l'ensemble des informations , prendre connaissance et accepter les présentes conditions générales de vente en cochant la case correspondante , puis l'invite à valider sa commande en cliquant sur le bouton “ confirmer ma commande ” . Ce dernier clic forme la conclusion définitive du contrat . Dès validation, l'acheteur reçoit un bon de commande confirmant l'enregistrement de sa commande . Afin de finaliser son paiement, et déclencher le traitement de sa commande , l'acheteur doit contacter sa banque afin d'effectuer le virement correspondant au montant de sa commande vers le compte bancaire  de Christelle Bobichon , dont les coordonnées sont communiquées a l'acheteur. Dès réception du virement, la commande sera traitée et l'acheteur en sera informé par mail. L'entreprise Les M'Ondes de Miss Cramée expédiera les produits au plus tôt deux jours ouvrés après réception du virement  correspondant à la commande, sous réserve de provisions.

- Paiement sécurisé par Stripe ou carte bancaire (via le système stripe) : l'acheteur sélectionne les produits qu'il souhaite commander dans le panier , modifie si besoin ( quantité, référence ..) vérifie l'adresse de livraison ou en renseigne une nouvelle .Puis, les frais de port son calculés et soumis à l'acheteur, ainsi que le nom du transporteur. Ensuite , l'acheteur choisit le mode de paiement de son choix : “paiement par Stripe” . Enfin, la dernière étape lui propose de vérifier l'ensemble des informations , prendre connaissance et accepter les présentes conditions générales de vente en cochant la case correspondante , puis l'invite à valider sa commande en cliquant sur le bouton “ confirmer ma commande ” . Enfin l'acheteur est redirigé sur l'interface sécurisé Stripe afin de renseigner en toute sécurité ses références de compte Stripe ou de carte bleue personnelle. Si le paiement est accepté, la commande est enregistrée et le contrat définitivement formé. Le paiement par compte Stripe ou par carte bancaire est irrévocable. En cas d'utilisation frauduleuse de celle ci , l'acheteur pourra exiger l'annulation du paiement par carte, les sommes versées seront alors recréditées ou restituées. La responsabilité du titulaire d'une carte bancaire n'est pas engagée si le paiement contesté a été prouvé effectué frauduleusement, à distance, sans utilisation physique de sa carte . Pour obtenir le remboursement du débit frauduleux et des éventuels frais bancaires que l'opération a pu engendrer, le porteur de la carte doit contester, par écrit, le prélèvement auprès de sa banque , dans les 70 jours suivant l'opération, voire 120 jours si le contrat le liant à celle ci le prévoit. Les montants prélevés sont remboursés par la banque dans un délais maximum d'un mois après réception de la contestation écrite formée par le porteur. Aucun frais de restitution des sommes ne pourra être mis a la charge du titulaire . 



La confirmation d'une commande entraine acceptation des présentes conditions de vente , la reconnaissance d'en avoir parfaite connaissance et la renonciation à se prévaloir de ses propres conditions d'achat. L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. Si l'acheteur possède une adresse électronique et s'il l'a renseignée sur son bon de commande l'entreprise Les M'Ondes de Miss cramée lui communiquera par courrier électronique la confirmation de l'enregistrement de sa commande .

Si l'acheteur souhaite contacter l'entreprise Les M'Ondes de Miss Cramée , il peut le faire, soit par courrier à l'adresse suivante : 16 rue Valentin Magnan 66000 Perpignan; soit par email à l'adresse suivante : christellebobichon@orange.fr, soit par téléphone au 0623889809.</p>

<h2>Article 5 : Réserve de propriété</h2>
<p>L'entreprise Les M'Ondes  de Miss Cramée conserve la propriété pleine et entière des produits vendus jusqu'au parfait encaissement du prix, en principal, frais et taxes compris.</p>



<h2>Article 6 : Rétractation</h2>
<p>En vertu de l'article L121-20 du code de la consommation , l'acheteur dispose d'un délai de 14 jours ouvrables à compter de la livraison de leur commande pour exercer son droit de rétractation et ainsi faire retour du produit au vendeur pour échange ou remboursement sans pénalités, à l'exception des frais de retour.</p>



<h2>Article 7 : Livraison</h2>
<p>Les livraison sont faites à l'adresse indiquée sur le bon de commande qui ne peut être que dans la zone géographique convenue. Les commandes sont effectuées par La Poste, en envoi avec suivi , remise sans signature. Les délais de livraison ne sont donnés qu'à titre indicatif ; si ceux ci dépassent 30 jours à compter de la commande, le contrat de vente pourra être résilié et l'acheteur remboursé. L'entreprise Les M'Ondes de Miss Cramée pourra fournir par email à l'acheteur le numéro de suivi de son colis. L'acheteur est livré à domicile par son facteur. Les risques liés au transport sont à la charge de l'acquéreur à compter du moment ou les articles quittent les locaux de l'entreprise Les M'Ondes de Miss Cramée. L'acheteur est tenu de vérifier en présence du préposé de la Poste ou du livreur , l'état de l'emballage de la marchandise et son contenu à la livraison . En cas de dommage dans le transport, toute protestation doit être effectuée auprès du transporteur dans un délai de 3 jours à compter de la livraison.</p>

<h2>Article 8 : Garanties</h2>
<p>Tous les produits fournis par l entreprise Les M'Ondes de Miss Cramée bénéficient de la garantie légale prévue par les articles 1641 et suivants du code civil. En cas de non conformité d un produit vendu , il pourra être retourner à l entreprise Les M'Ondes de Miss Cramée qui le reprendra, l échangera ou le remboursera. Toutes les réclamations, demandes d échange ou de remboursement doivent s effectuer par voie postale à l adresse suivante: Les M'Ondes de Miss Cramée , 16 rue Valentin Magnan 66000 Perpignan dans un délai de trente jours après livraison.</p>



<h2>Article 9 : Responsabilité</h2>
<p>L'entreprise Les M'Ondes de Miss Cramée , dans le processus de vente à distance, n' est tenue que par une obligation de moyens . Sa responsabilité ne pourra être engagée pour un dommage résultant de l utilisation du réseau internet tel que perte de données ,intrusion ,virus, rupture du service, ou autres problèmes involontaires.</p>



<h2>Article 10 : Propriété intellectuelle</h2>
<p>Tous les éléments du site ( nom du site , url) sont et restent la propriété intellectuelle et exclusive de l 'entreprise Les M'Ondes de Miss Cramée . Personne n est autorisé à reproduire ,exploiter, ou utiliser à quelque titre que ce soit ,même partiellement, des éléments du site qu' ils soient sous forme de photo , logo, visuel ou texte.</p>



<h2>Article 11 : Données à caractère personnel</h2>
<p>L'entreprise Les M'Ondes de Miss Cramée s' engage à préserver la confidentialité des informations fournies par l' acheteur ,qu' il serait amené à transmettre pour l' utilisation de certains services . Toute information le concernant est soumise aux dispositions de la loi n°78-17 du 6 janvier 1978 à ce titre , l' internaute dispose d' un droit d' accès , de modification et de suppression des informations le concernant. 
Il peut en faire la demande à tout moment par courrier à l' adresse suivante: Les M'Ondes de Miss Cramée 16 rue valentin magnan 66000 Perpignan.</p>



<h2>Article 12 : Règlement des litiges</h2>
<p>Les présentes conditions de vente à distances sont soumises à la loi française . Pour tous litiges ou contentieux, le Tribunal compétent sera celui de Perpignan.</p>
<br><br>

    <section>
      <h2>Contact</h2>
      <p><strong>Par téléphone :</strong> 06 23 88 98 09</p>
      <p><strong>Par courrier :</strong><br>
        Les M'Ondes de Miss Cramée, 16 rue Valentin Magnan, 66000 Perpignan</p>
      <p><strong>Par email :</strong><br>
        <%= link_to "christellebobichon@orange.fr", "mailto:christellebobichon@orange.fr" %>
    </section>

    <section>
      <h2>Crédits</h2>
      <p>Photos : Christelle Bobichon</p>
    </section>

    <section>
      <h2>Hébergeur</h2>
      <p>O2switch</p>
      <p>510 909 807 R.C.S. CLERMONT-FERRAND</p>
      <p>Siège social : 222 Bd Gustave Flaubert, 63000 Clermont-Ferrand</p>
    </section>

       </div>
      </div>
    <div class="image">
  </div>
</div>