<% content_for :title, "Mon Profil" %>


<h3 class="custom-h3">Modifier le profil</h3>
    <%= form_with(model: current_user, url: profile_path, method: :patch, class: 'custom-form') do |form| %>
      <div class="field">
    <p>Nouvelle adresse email :</p>
        <%= form.email_field :email %>
      </div>

      <div class="actions">
        <%= form.submit "Enregistrer", class:"custom-submit-button mb-4" %>
      </div>
    <% end %>
    <div class="custom-line mb-4"></div>
<%= link_to 'Revenir à mon profil', profile_path, class: "custom-link" %>
  </div>



