<h1 class="text-center my-4">Votre paiement a malheureusement échoué...</h1>
<h6 class="text-center my-4">Veuillez réessayer et sinon veuillez contacter miss.cramée@email.com </h6>

<!-- Bouton pour continuer les achats -->
<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <%= link_to "RETOUR A L'ACCEUIL", items_path, class: 'btn custom-submit-button w-100' %>
  </div>
</div><br>
