<h1>Votre paiement a malheureusement échoué...</h1>
<p>Veuillez réessayé et sinon veuillez contacter miss.cramée@email.com </p>

<!-- Bouton pour continuer les achats -->
<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <%= link_to "RETOUR A L'ACCEUIL", items_path, class: 'btn custom-submit-button w-100' %>
  </div>
</div><br>
