<h1 class="text-center my-4">Merci pour votre commande !</h1>
<h6 class="text-center my-4">Vous recevrez un mail de confirmation, vérifiez vos spams et sinon contactez moi.</h6>

<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <%= link_to "RETOUR A L'ACCEUIL", items_path, class: 'btn custom-submit-button w-100' %>
  </div>
</div><br>