<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h6 style="color: red;">
    </h6>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li ><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
