<h1>Tableau de bord Admin</h1>

<div class="statistics">
  <p>Nombre total de commandes: <%= @orders_count %></p>
  <!-- Ajoutez d'autres statistiques ici -->
</div>

<%= link_to 'Nouvel Item', new_item_path, class: 'btn btn-primary' %>
