<div class="container">
  <div class="text">
    <h2>Mon Titre</h2>
    <p>Ceci est un exemple de texte aligné à gauche. Vous pouvez ajouter autant de texte que nécessaire ici. Le conteneur flexbox assure que le texte et l'image sont bien alignés côte à côte, quel que soit leur contenu.</p>
    <p>Sacha le S, Xavier le X, Thomas le T, Céline le C, ensemble, c'est notre projet.</p>
    <p>Trop choupinou ce furet !</p>
  </div>
  <div class="image">
    <%= image_tag 'about_us.jpg', alt: 'Photo de présentation Miss Cramée' %>
  </div>
</div>
