<div class="container">
  <div class="text">
    <h2>Miss Cramée</h2>
    <p>Bienvenue dans les M'Ondes de Miss Cramée, je suis ravie de vous accueillir dans mon univers de fantaisie !</p>
    <p>Je vous propose mes créations depuis 2014 (dix ans déjà !), et j'essaie de faire preuve de toujours plus de créativité pour vous faire plaisir.</p>
    <p>Tous mes bijoux sont fait main, et travaillés avec des fils en polyester ciré et des pierres naturelles, ce qui permet une infinité de combinaisons.</p>
    <p>Vous pouvez également me contacter juste ici(lien) si vous avez des questions, des envies particulières, ou même une commande personnalisée, je serai ravie d'échanger avec vous !</p>
    <p>Echanger, c'est d'ailleurs mon petit plaisir puisque si vous habitez dans les Pyrénées Orientales, vous pouvez me retrouver en été sur plusieurs marchés, je serai ravie de faire connaissance en face à face et de discuter avec vous !</p>
    <p>Pour ceux qui le souhaitent, j'ai également une page Facebook et un compte Instagram si vous souhaitez suivre mon actualité !
    A très vite j'espère !</p>
    <p>Miss Cramée</p>
  </div>
  <div class="image">
    <%= image_tag 'about_us.jpg', alt: 'Photo de présentation Miss Cramée' %>
  </div>
</div>
