<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Nouvelle commande passée</h1>
  <p>Bonjour,</p>
  <p>Une nouvelle commande a été passée. Voici les détails de la commande :</p>
  <div>
    <h2>Détails de la commande :</h2>
    <p><strong>Date et heure de la commande :</strong> DATE HEURE</p>
    <p><strong>Nom de l'utilisateur :</strong>USERNAME</p>
    <p><strong>Adresse email de l'utilisateur :</strong> EMAIL</p>
    <h3>Produits commandés :</h3>
    <ul>
        <li>
          <p><strong>Nom :</strong>PRODUCT NAME</p>
          <p><strong>Quantité :</strong> QTITE</p>
          <p><strong>Prix :</strong>PRICE</p>
        </li>
    </ul>
    <p><strong>Montant total :</strong>TOTAL PRICE</p>
    <p><strong>Adresse de livraison :</strong> ADRESSE</p>
  </div>
  <p>Merci de vérifier les détails de cette commande!</p>
</body>
</html>
