<!-- app/views/bijoux/index.html.erb -->

<h1>Nos Bijoux</h1>

<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <%= image_tag item.image_url, class: 'card-img-top', alt: item.name %>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text"><strong><%= number_to_currency(item.price) %></strong></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
