<% content_for :title, "Nos marque pages" %>

<h1 class="text-center my-4">Marque Pages</h1>

<% if @items.any? %>
  <div class="row">
    <% @items.each do |item| %>
            <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
            <h5 class="card-title"><%= item.name %></h5>
          <% if item.image.attached? %>
            <%= image_tag url_for(item.image), class: 'card-img-top', alt: item.name %>
          <% end %>
          <br>
              <%= link_to "Voir plus", item_path(item), class: "custom-submit-button" %>
          <div class="card-body p-4 text-center">
            <p class="card-text"><%= item.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center">Aucun marque page n'a été trouvé.</p>
<% end %>
