/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require profiles
 */

 @import 'bootstrap/scss/bootstrap';
 @import 'bootstrap-icons/font/bootstrap-icons';

 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Josefin+Sans&display=swap');
 @import "font-awesome-sprockets";
 @import "font-awesome";

 @import 'about';
 @import 'carousel';
 @import 'cart';
 @import 'delivery_info';
 @import 'footer';
 @import 'header';
 @import 'nav';
 @import 'sign_in_up';
 @import 'item';
 @import 'topics';
 @import 'topics_new';
 @import 'topics_show';


 body {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  --background_color: #F4EAE3;
  color: var(--current_color);
  height: 100%;
  width: 100%;
  background-color: var(--background_color);
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
}

.card {
  background: none;
  border: none;
}

.custom-line {
  border-bottom: 1px solid #E8E0D3; /* Crée une ligne de bordure grise de 1 pixel */
  width: 50%; /* Définissez la largeur de la ligne, ajustez selon vos besoins */
  margin: 0 auto; /* Centre la ligne horizontalement */
  margin-bottom: 15px;
}

.custom-submit-button {
  width: 300px;
  max-width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  background-color: #A1BBA3;
  color: #2A3C2C;
  border: 1px solid #657166;
  transition: background-color 0.3s ease;
  font-weight: normal;
}




.custom-submit-button:hover {
  background-color: #2A3C2C;
  color: #A1BBA3;
}

