.carousel-container {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px; 
}

.carousel-container h1 {
  position: absolute;
  top: -10px; 
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1; 
}

.carousel-card {
  width: 300px; 
  height: 300px; 
  margin-top: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 5%; 
  height: 100%;
  background: none; 

}

.carousel-control-prev {
  left: -50px; 
}

.carousel-control-next {
  right: -50px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  background-color: transparent; 
  background-size: 100%, 100%;
}

.carousel-item {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.carousel-item.active {
  display: flex;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.outer-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-control-prev.outer-control {
  left: -50px;
}

.carousel-control-next.outer-control {
  right: -50px;
}


