.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item .col-md-4 {
  padding: 15px;
}

.carousel-image {
  height: 300px;
  object-fit: cover;
  border-radius: 15px; /* Ajout des bords arrondis */
}

.carousel-title {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

.carousel-title:hover {
  text-decoration: underline;
}

.carousel-controls-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.outer-control {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
