
.artisan-section {
  padding: 60px 0;
}

.artisan-section .btn {
  border: none;
}


.testimonial-section {
  padding: 60px 0;
}

.image-grid-section {
  padding: 60px 0;
}

.image-grid-section .img-fluid {
  transition: transform 0.3s;
}

.image-grid-section .img-fluid:hover {
  transform: scale(1.05);
}


.carousel-container {
  margin-bottom: 50px;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item .col-md-4 {
  padding: 15px;
}

.carousel-image {
  height: 300px;
  object-fit: cover;
}

.carousel-caption {
  position: static;
}

.carousel-title {
  font-weight: bold;
  text-decoration: none;
}

.carousel-title:hover {
  text-decoration: underline;
  color: #007bff;
}

.outer-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-control-prev.outer-control {
  left: -500px; /* Adjust as necessary */
}

.carousel-control-next.outer-control {
  right: -500px; /* Adjust as necessary */
}
