.custom-container {
  margin-left: 20px;  /* Marge à gauche */
  margin-right: 20px;  /* Marge à droite */
  background-color: transparent; /* Fond transparent */
}


.fw-bold.delivery-info-title {
  margin-top: 20px;  /* Marge au-dessus */
  margin-bottom: 20px;  /* Marge en dessous */
}

.item-image {
  border-radius: 4px; /* Pour arrondir légèrement les images, optionnel */
}

.table-transparent {
  background-color: transparent !important; /* Fond transparent */
  border: none; /* Add border with color E8E0D3 */
}

.table-transparent th,
.table-transparent td {
  background-color: transparent !important; /* Fond transparent */
  border: none; /* Add border with color E8E0D3 to table cells */
}


