
.custom-form {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.custom-form .field {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.custom-form .field input,
.custom-form .field textarea {
  width: calc(100% - 32px);
  padding: 8px 16px;
  border: 1px solid #8E8383;
  border-radius: 10px;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

.custom-form .field label {
  display: block;
  margin: 5px 0;
  font-size: 12px;
}

.custom-submit-button {
  width: calc(100% - 32px);
  background-color: #A1BBA3;
  color: #2A3C2C;
  padding: 8px 16px;
  font-size: 12px;
  border: 1px solid #657166;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  margin: 0 auto 20px;
  text-align: center; 
  text-decoration: none; 
}

.custom-submit-button:hover {
  background-color: #657166;
  color: #fff;
  text-decoration: none;
}

.custom-link {
  color: black;
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.custom-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  color: #555454;
  text-align: center;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-right {
  margin-left: auto;
}

.text-black {
  color: black;
}

.order-details p, .order-item p {
  margin: 0;
}

.order-item div {
  flex-grow: 1;
}