.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.mention-link:hover {
  text-decoration: underline;
}

.footer-container {
  text-align: center; /* Center all content in the container */
}

.custom-line {
  margin: 0 auto; /* Center the line if it has a defined width */
  width: 80%; /* Define the width of the line as needed */
  height: 2px; /* Height of the line */
  background-color: #E8E0D3; /* Color of the line */
}

.nav {
  display: flex;
  justify-content: center; /* Center navigation items */
  padding: 0; /* Remove default padding from list */
}

.nav-item {
  list-style: none; /* Remove list bullets */
  margin: 0 5px; /* Margin between list items */
}

.nav-item img {
  max-height: 50px; /* Adjust height of logos */
  display: block; /* Ensure images are block elements for proper alignment */
}

.text-center {
  margin: 10px 0; /* Margin to space out paragraphs */
}

.mention-link {
  cursor: pointer; /* Change cursor on hover for legal mentions */
}

.text-body-secondary {
  color: #6c757d; /* Secondary text color */
}

.heading-mention-link {
  font-size: 1rem; /* Set font size to match h5 and h6 */
  color: #000; /* Set text color to black */
  text-decoration: none; /* Remove underline by default */
  margin-top: 10px; /* Adjust margin as needed */
  display: block; /* Ensure link takes full width */
  text-align: center; /* Center align text */
}

.heading-mention-link:hover {
  text-decoration: underline; /* Underline on hover */
}

.compact-footer {
  font-size: 0.75rem; /* Set a smaller font size for the entire footer */
}

.compact-footer .py-2 {
  padding-top: 1rem !important;
  padding-bottom: 0.5rem !important;
}

.compact-footer .my-2 {
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

.compact-footer .mt-2 {
  margin-top: 1rem !important;
}

.compact-footer .mb-2 {
  margin-bottom: 0.5rem !important;
}

.compact-footer .ml-2 {
  margin-left: 0.5rem !important;
}
