
footer {
  background-color: #FCF7EE; /* Couleur de fond du footer */
}

.footer-content {
  padding-top: 20px; /* Conservez cet espacement en haut si nécessaire */
  padding-bottom: 0; /* Réduisez ou supprimez le padding en bas pour rapprocher les éléments */
  min-height: auto;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribue les éléments horizontalement avec un espacement égal */
}

.footer-icon img {
  width: 40px; /* Ajuste la taille de toutes les images */
  margin-right: 10px; /* Espacement entre chaque icône */
}
