.header-background {
  position: relative;
  background: url('header4.jpg') no-repeat center center;
  background-size: cover; /* Image de fond couvrant toute la zone */
  height: 100vh; /* Hauteur égale à la hauteur de l'écran */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #E8E0D3;
}

.header-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.header-background > * {
  position: relative;
  z-index: 2; /* Placer le contenu au-dessus de la superposition */
}

.header-content {
  position: relative;
  z-index: 2;
}

