.header-background {
  position: relative;
  background: url('header4.jpg') no-repeat center center;
  background-size: cover;
  height: 300px; /* Hauteur définie pour le header */
  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  text-align: center; /* Centrage du texte à l'intérieur du header */
  color: white; /* Couleur du texte pour assurer la lisibilité */
}

.header-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35); /* Couleur noire semi-transparente */
  z-index: 1; /* Placer la superposition sous le contenu */
}

.header-background > * {
  position: relative;
  z-index: 2; /* Placer le contenu au-dessus de la superposition */
}
