/* Ajout d'une animation pour le logo */
@keyframes logoBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.navbar-brand img {
  animation: logoBounce 2s infinite;
}

/* Styles pour la barre de navigation */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.color-primary {
  color: white;
}

.nav-link {
  font-family: "Libre Baskerville", serif;
  color: white;
  font-weight: bold;
}

.nav-link:hover,
.nav-link:focus,
.dropdown-item:hover,
.dropdown-item:focus {
  color: #E8E0D3; /* Changer la couleur au survol et au focus */
}

/* Styles pour le menu déroulant */
.dropdown-menu {
  background-color: transparent; /* Fond transparent */
  border: none; /* Supprime les bordures */
  box-shadow: none; /* Supprime l'ombre portée */
}

.dropdown-item {
  color: white; /* Couleur du texte des éléments du menu */
  font-family: "Libre Baskerville", serif; 
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent sur hover */
}

/* Ajout de la couleur noire au dropdown */
.navbar-nav .dropdown-menu {
  background-color: black;
}

/* Changer la couleur au survol pour les éléments du dropdown */
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus {
  background-color: #E8E0D3;
}


.keep-white-on-hover:hover {
  color: white !important;
}


.keep-white-on-click:active, .keep-white-on-click:focus, .keep-white-on-click:visited {
  color: white !important;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #555454; /* Changer la couleur au survol et au focus */
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
