/* Ajout d'une animation pour le logo */
@keyframes logoBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.navbar-brand img {
  animation: logoBounce 2s infinite;
}

/* Styles pour la barre de navigation */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}


.nav-link {
  font-family: "Libre Baskerville", serif;
  color: #769687;
  font-weight: bold;
}

.nav-link:hover,
.nav-link:focus,
.dropdown-item:hover,
.dropdown-item:focus {
  color: #E8E0D3; /* Changer la couleur au survol et au focus */
}

/* Changer la couleur au survol pour les éléments du dropdown */
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus {
  background-color: #E8E0D3;
}

/* Styles pour le menu déroulant */
.dropdown-menu {
  background-color: transparent; /* Fond transparent */
  border: none; /* Supprime les bordures */
  box-shadow: none; /* Supprime l'ombre portée */
}

.dropdown-item {
  color: #769687; /* Couleur du texte des éléments du menu */
  font-family: "Libre Baskerville", serif; 
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent sur hover */
}

/* Ajout de la couleur noire au dropdown */
.navbar-nav .dropdown-menu {
  background-color: #F4EAE3;
}


.dropdown-item:hover, .dropdown-item:focus {
  color: #555454; /* Changer la couleur au survol et au focus */
}


