.custom-label {
  font-weight: bold;
  color: #555454;
  margin-bottom: 5px;
  display: block;
}

.custom-input, .custom-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #8E8383;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  background-color: transparent;
}

.custom-textarea {
  height: 150px;
  resize: vertical;
}

.custom-checkbox-group {
  margin-bottom: 15px;
}

.custom-checkbox {
  margin-bottom: 5px;
}

.custom-checkbox-input {
  margin-right: 10px;
}
