.card {
  background: none;
  border: 1px solid #E8E0D3;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 1.5rem;
}

.card-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-family: "Josefin Sans", sans-serif;
  color: #6c757d;
  margin-bottom: 5px;
}

.topics-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-text {
  margin: 0 auto;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Ajustez cette valeur selon vos préférences */
}



