<header class="bg-dark py-5 header-background">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white header-content">
            <br>
            <h1 class="display-4 fw-bolder" style="color: white;">Les M’Ondes de Miss Cramée</h1>
            <p class="lead fw-normal" style="color: white;">DES CRÉATIONS UNIQUES EN PIERRES NATURELLES</p>
        </div>
    </div>
</header>
